<div style="text-align:center">
    <div>
        <img style="-webkit-user-select: none;margin: auto;" src="http://192.168.1.64:8081/" width="560" height="315">
        <!--<webcam [height]="400" [width]="1200" *ngIf="showWebcam"></webcam> -->
        <!--<video width="600" height="400" controls>  *ngIf="showWebcam"
            <source src="192.168.1.64:8081" type="video/mp4" />
          </video>
        <iframe width="600" height="400" src="192.168.1.64:8081"></iframe>
        <iframe width="560" height="315" src="192.168.1.64:8081" 
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
        <br><br><br>
    </div>
</div>