h1{
text-align: center;
font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
background-color: #040F0F;
color: #C9FBFF;
padding-top: 1cm;
padding-bottom: 1cm;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}