<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Haustür</span>
  </mat-toolbar-row>

</mat-toolbar>

<div style="text-align:center">
  <img style="-webkit-user-select: none;margin: auto;" src="http://192.168.1.64:8081/" width="560" height="315">
</div>
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-slide-toggle labelPosition="after" [checked]="lightOn" (change)="lightonClick()">Light</mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-slide-toggle labelPosition="after" [checked]="doorOpen" (change)="dooronClick()">Door</mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-slide-toggle labelPosition="after" [checked]="cameraOn" (change)="cameraOnClick()">Camera</mat-slide-toggle>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary">Läuten</button>
  </mat-card-content>
</mat-card>
