<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Haustür</span>
  </mat-toolbar-row>

</mat-toolbar>

<div>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/MFQPaN3Slws" 
  frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
  </iframe>
  <video width="560" height="315" controls>
    <source src="https://www.youtube.com/embed/MFQPaN3Slws" type="video/mp4" />  
  
    <!-- The fallback in case the browser doesn't recognize the HTML5 video tag -->  
  </video>
</div>
<mat-card>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-slide-toggle labelPosition="after" [checked]="lightOn" (change)="lightonClick()">Light</mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-slide-toggle labelPosition="after" [checked]="doorOpen" (change)="dooronClick()">Door</mat-slide-toggle>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-slide-toggle labelPosition="after" [checked]="cameraOn" (change)="cameraOnClick()">Camera</mat-slide-toggle>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button color="primary">Läuten</button>
  </mat-card-content>
</mat-card>
